
<section>

<h1>Add a Movie</h1>

<form>

  <div class="clearfix"> 

    <label for="movie_title">Title</label>
    <div class="input">
      <input type="text" name="title" id="movie_title" class="xxlarge"/>
    </div>
  </div>

  <div class="clearfix"> 
    <label for="movie_description">Description</label>
    <div class="input">
      <textarea name="description" id="movie_description" class="xxlarge"></textarea>
    </div>
  </div>
  
  <div class="actions">
    <input type="submit" value="Submit" class="btn primary"/>
    or 
    <a href="#">Cancel</a>
  </div>

</form>

</section>