
<section>

<% if (collection.models.length > 0) { %>

  <% collection.each(function(item, key, list) { %>
    <div class="row">
      <div class="span16 movie">
        <h3><a href="#movie/<%= item.id %>"><%= item.escape('title') %></a></h3>
        <%= item.get('description') %>
      </div>
    </div>
  <% }); %>
<% } else { %>
  <p>no movies</p>
<% } %>

</section>