<section>
  <div class="row">
    <div class="span16">
      <h2><%= movie.get('title') %></h2>
      <p><%= movie.get('description') %></p>
      <strong>Created on: <%= movie.get('created_at') %></strong>
      <p><a href="#movie/<%= movie.get('id')%>/edit">edit</a>
    </div>
  </div>
</section>